<!doctype html>
<html><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>UrSpot | HomePage</title>
    <meta name="description" content="Le service de découverte original, insolite et inédit de lieux d'exception en plein coeur de la capitale parisienne. Vivez le tourisme autrement">

    {# Social Media #}
    <meta name="twitter:card" value="">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="UrSpot | HomePage">
    <meta name="twitter:description" content="Le service de découverte original, insolite et inédit de lieux d'exception en plein coeur de la capitale parisienne. Vivez le tourisme autrement">
    <meta name="twitter:creator" content="IIM">
    <meta name="twitter:image" content="">

    <meta property="og:title" content="UrSpot | HomePage">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="Le service de découverte original, insolite et inédit de lieux d'exception en plein coeur de la capitale parisienne. Vivez le tourisme autrement">
    <meta property="og:site_name" content="UrSpot">

    {# Favicon #}

    {# Stylesheet #}
    <link href="{{ asset('bundles/css/main.css') }}" media="all" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Raleway:400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body>

    {% include 'AppBundle:Layout:_nav.html.twig' with {} only %}

    {% include 'AppBundle:Layout:_header.html.twig' with {} only %}

    {% block body %}{% endblock %}

    {% include 'AppBundle:Layout:_footer.html.twig' with {} only %}

    {# SCRIPTS #}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="{{ asset('dev/js/main.js') }}"></script>

    {% block scripts %}{% endblock %}
    {# END SCRIPTS #}
  </body>
</html>
