{% extends '@App/base.html.twig' %}

{% block body %}
<section class="pt-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 offset-sm-1 align-self-center">
        <div class="h-100 w-75">
          <h2 class="text-primary">Bibliothêque de lieux</h2>
          <p>C’est une grande bibliothèque de tous les différents lieux inédits dans des offres gratuites et payantes au sein de l’application <strong class="text-primary">UrSpot</strong>. C’est aussi un rassemblement des différents parcours proposés par le service, le tout classé en différentes catégories.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <img alt="Détail d'un lieux" class="img-responsive m-auto d-block" src="{{ asset('dev/images/services_android@2x-72b440cef0e122ba4d032cf933a4d9aa.png')}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="screen__section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="capture-img">
            {#<img alt="Scan iphone@2x" class="img-responsive capture-img hidden-sm" style="width: 703px; position: relative; margin-top: -15px;" src="{{ asset('dev/images/scan_iphone@2x-8873bad348d00db6ac44ae722e965bc4.png') }}"> #}
          {#<img alt="Scan iphone 2@2x" class="img-responsive capture-img visible-sm" src="/assets/v1/scan_iphone_2@2x-a0c1a9538e59c74de2bead9375f06edf.png">#}
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 offset-sm-1 align-self-center">
        <div class="w-75 ml-3">
          <h2>
            Carte
          </h2>
          <p>La carte utilise la géolocalisation du téléphone, qui montre en temps réel les différents lieux gratuit proposé par <strong class="text-primary">UrSpot</strong>. Pour l’utilisateur qui se connecte il a accès à tous les lieux qu’il a réservé au préalable. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-3 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 offset-sm-1">
        <h2 class="text-primary">Profile</h2>
        <p>La connexion à l’application se fait par Facebook et Gmail. Il y aura dans le profile un accès à l’historique des anciennes réservations ainsi que celles qui sont en cours</p>
        <div class="hidden-xs">
          <div class="initial">
            <a href="https://app.appsflyer.com/id921250909?pid=website"><div class="btn-download btn-app-store"></div></a>
            <a href="http://app.appsflyer.com/com.docady.rutbo?pid=website"><div class="btn-download btn-play-store"></div></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img alt="Organize android@2x" class="img-responsive m-auto d-block" style="width: 280px" src="{{ asset('dev/images/organize_android@2x-f7ef3f7ed5e80938b633afb555916f8d.png') }}">
      </div>
    </div>
  </div>
</section>

<section class="screen__section_two">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wnZucMYp_fw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 offset-sm-1 align-self-center">
        <div class="w-75 ml-3">
          <h2 class="text-uppercase">
            Vidéo
          </h2>
          <p>Interview d’un expert en urbex lors d’une visite dans les catacombes de Paris à l’issue d’une exploration avec l’équipe d’ <strong class="text-primary">UrSpot</strong>. </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
