<footer class="footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 align-self-end">
        <div class="text-left text-white">
          <p>Copyright © 2017</p>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="text-center m-2 text-white">
          <p>Télécharger UrSpot ! </p>
          <a href=""><div class="header__btn header__btn_apple"></div></a>
          <a href=""><div class="header__btn header__btn_google"></div></a>
        </div>
      </div>
      <div class="col-sm-2 align-self-end mb-1">
        <div class="text-right">
          <a href="https://www.facebook.com/UrSpotApplication/" class="icons"><i class="fa fa-facebook align-middle" aria-hidden="true"></i></a>
          <a href="#" class="icons"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer>
