<footer class="footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center p-1">
          <a href="#" class="icons"><i class="fa fa-facebook align-middle" aria-hidden="true"></i></a>
          <a href="#" class="icons"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#" class="icons"><i class="fa fa-google" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
