<header class="screen__header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h1 class="text-uppercase"> Urbex </h1>
          <p>fzieofhzeio hfzoei^hfzeu hfpze ick example text to build on the card title and makeick example text to build on the card title and makeick example text to build on the card title and makeick example text to build on the card title and make </p>
        </div>
        <div class="main-buttons">
          <a href="https://app.appsflyer.com/id921250909?pid=website"><div class="btn-download btn-app-store"></div></a>
          <a href="http://app.appsflyer.com/com.docady.rutbo?pid=website"><div class="btn-download btn-play-store"></div></a>
        </div>

        <div class="play-arrow">
          <div class="triangle"></div>
        </div>

        <div class="main-arrow">
          <img alt="Scroll arrow@2x" class="m-auto d-block pt-2 pb-2" src="{{ asset('dev/images/scroll_arrow@2x-acc05be6d5ce7ac0e81bafe482325c35.png') }}">
        </div>

        <div class="main-iphone-container">
          <div class="main-iphone-image">
            <img alt="Ipad iphone 2x" class="m-auto d-block" style="width: 240px;" src="{{ asset('dev/images/ipad_iphone_2x-af8af9c2834599f377c97674d3df1219.png') }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
